html
{
	width:100%;
	overflow-y: scroll;

	line-height: 150%;
}
body
{
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;	
}
p
{
	color: #282828;
}
a
{
	cursor: pointer;
}
section
{
	flex-direction: column;
}

h2
{
	text-align: center;
	margin: 20px;
	margin-top: 6%;
	margin-bottom:4%;
	font-size: 250%;
}
.cercles-trait
{
	position:relative;
	bottom:900%; 
	left:47%;
	border: 5px solid white;
	background-color: white;
	font-size: 100%;
	border-radius: 50%;
	border: 5px solid white;
}
.fas.fa-circle
{
	color: #39B5CA;
}
.trait
{
	background-color: rgb(230, 230, 230);
	height: 1pt;
	width: 15%;
	margin-bottom: 1.5%;
	align-self:center;
	margin-left: auto;
	margin-right: auto;
}
.phrase
{
	display: flex;
	justify-content: center;
}
ul
{
	 list-style: none;
}
/*debut header*/
header
{
	display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100px;
    background-color: white;
    opacity: 0.92;
    z-index: 9999;
}
.logo{
    margin-left: 15%;
    cursor: pointer;
}
header nav ul{
    padding-left: 0;
}
header nav li{
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
}
header nav a {
    text-decoration: none;
    color: grey;
}
header nav li:hover{
    border-top: 2px solid #0088a9;
    padding-top: 39px;
}
header nav a:hover
{
    color: black ;
}
/*header fin*/
/*images slider*/
#fillette-image
{
	display: flex;
	justify-content: center;
	
}
#image-fixe
{
	display:none;
	position: relative;
}
#page-accueil
{
	width: 100%;
	overflow: hidden;
	margin-bottom: 6%;
}
.slide
{
	float:left;
}
#slider
{
	margin-top: 100px;
	width: 100%;
	height: auto;
	position: relative;
	width: calc(1600px*2);
	animation: glisse 10s infinite;
}
@keyframes glisse 
{
	0% {
			transform: translateX(0);
	}
	40% {
			transform: translateX(0);
	}
	50% {
			transform: translateX(-50%);
	}
	90% {
			transform: translateX(-50%);
	}
	100% {
			transform: translateX(0);
	}
}
.fas.fa-chevron-right
{
	position:absolute;
	background-color: rgba( 0 , 0 , 0 , 0.3);
	color: white;
	padding: 20px 20px 20px 10px;
	border-radius: 50% 0 0 50%;
	margin-left: 97.3%;
	margin-top: 23%;
	z-index: 99;	
}
.fas.fa-chevron-left
{
	position:absolute;
	background-color: rgba( 0 , 0 , 0 , 0.3);
	color: white;
	padding: 20px 20px 20px 10px;
	border-radius: 0 50% 50% 0;
	margin-right: 0px;
	margin-top: 23%;
	z-index: 99;
}
/*fin slider*/
/*texte sur slider*/
#texte
{
    width: 90%;
    position: absolute;
    top: 325px;
    left: 50px;
    color: white;
}
h1+p
{
	color: white;
}
#texte strong
{
	color:#39B5CA;
}
#texte strong:hover
{
	color:#0088a9; 
}
#texte a
{
    text-decoration: none;
    color: white;
    background-color: #39B5CA;
    padding: 10px 10px 10px 10px;
    border-radius: 6px;
    box-shadow: 0px 3px #0088a9;
}
#texte a:hover
{
	background-color: #0088a9;
}
#bouton
{
	box-shadow: 0px 5px 5px black;
}
/*fin texte sur slider*/
#accueil-mobile
{
	display:none;
}
/*debut services */
#service
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	margin-bottom: 10%;
}
#ordi-2
{
	display: none;
}
#ordi
{
	margin-left: 10%;
	margin-top: 1%;
}
#description
{
	margin-right:10%;
	margin-left: 12%;
	margin-top:1%;
}
#services-icones
{
	margin-top:1.5%;
	display: flex;
	justify-content: space-around;
	flex-flow: column;
	font-size: 210%;
	margin-right: -10%;
}
.point-bleu-icones
{
	background-color:white;
	color: #39B5CA;
	font-size: 40%;
	border-radius: 50%;
	border: 4px solid white;
	position: relative;
	bottom:55%;
	left: 76%;	
}
.fas.fa-chart-line
{	
	color:#39B5CA;
	border: 1px solid grey;
	padding: 12px;
	border-radius: 50%;
}
.fa.fa-cubes
{
	color:#39B5CA;
	border: 1px solid grey;
	padding: 12px;
	border-radius: 50%;
}
.fas.fa-chart-pie
{
	color:#39B5CA;
	border: 1px solid grey;
	padding: 12px;
	border-radius: 50%;
}
/*fin services */
/*début portfolio*/
/*menu*/
#section-gris-2
{
	background-color:rgba(240, 240, 240, 0.7);
}
.fas.fa-caret-down
{
	color: #0088a9;
}
#selection
{	
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-right: 2.5%;
	margin-bottom: 3%;
}
#selection li
{
	padding: 7px;
	background-color: rgb(230, 230, 230);
	border-bottom: 3px solid rgb(230,230,230);
	position: relative;
}
#selection li:hover
{
	background-color: #39B5CA;
	border-bottom: 3px solid #0088a9;
}
#start1
{
	border-bottom-left-radius:10%;
	border-top-left-radius:10%;
	white-space: nowrap;
}
#end1
{
	border-bottom-right-radius:10%;
	border-top-right-radius:10%;

}
.fleche-basse
{
	color: #0088a9;
    position: absolute;
    font-size: 30px;
    right: 30px;
    top:29px;
    opacity:0;
}
#selection li:hover .fleche-basse {
	opacity: 1;
}
#selection a{
    text-decoration: none;
    color: rgb(118, 121, 126);
}
#selection li:hover a{
	color: white;
}
#menu-portfolio li:hover{
    background-color: rgb(75, 175, 215);
    border-bottom: 3px solid rgb(70, 140, 170);
}
/*fin menu*/

#portfolio
{
	display: flex;
	justify-content: center;
	flex-flow:column;	
}
#quatre
{
	display: flex;
	flex-flow:row wrap;
	justify-content: center;
}
#huit
{
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
}
.descr
{
	color: white;
}
#portfolio figure
{
    height: 200px;
    position: relative;
}
#portfolio figure img
{
    width: 280px;
}
figcaption  p
{
	font-size: 15px;
}
figcaption{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    position: absolute;
    bottom: 13px;
    visibility: hidden;
	width: 280px;
	height: 35%;
	line-height: 50%;
}
figure:hover figcaption
{
    visibility: visible;
}
figcaption h3, figcaption p{
    margin-left: 15px;
}

.eye{   /* oeil sur le figcaption*/
    height: 30px;
    width: 30px;
    background-color: rgb(75, 175, 215);
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: 10px;
}
.fa.fa-eye{
    position: relative;
    top: 7.5px;
    left: 6px;
}
/*fin portfolio*/

/*début maps*/
#formulaire-2
{
	display: none;
}
#formulaire
	{
   	 	background-color: rgba(240, 240, 240, 0.7);
    	padding: 15px 15px 15px 15px;
    	width: 270px;
    	height: 500px;
    	position: absolute;
    	margin-left:  70%;
    	margin-top: 10%;
	}
input[type="submit"]{
    background-color: #39B5CA;
    color: white;
    border-radius: 3px;
    padding: 5px;
    margin-left: 10px;
	}
input[type="text"]{
 	   width: 250px;
	}
input[type="email"]
	{
    	width: 250px;
	}
textarea
	{
    	width: 250px;
	}
iframe
	{
		width: 100%;
		height: 800px;
		opacity: 0.7;
		position:relative;
	}	
#bas
	{
		width: 100%;
		height: 800px;
		display: flex;
		background-color: #39B5CA;
		opacity: 1;
		margin-top:3%;
	}
/*fin maps*/
/*MEDIA QUERIES*/
/*mobile*/
	@media all and (max-width: 680px) {
.section-gris
	{
		background-color:rgba(240, 240, 240, 0.7);
	}
	#section-gris-2
	{
		background-color:white;
	}
h2
	{
		font-size:210%;
	}
	/*accueil*/
#accueil-mobile
	{
		display: block;
		margin-top:40%;
		display: flex;
		align-items: center;
		flex-flow: column;
		text-align: center;
	}
 h1
	{
		font-size: 200%;
	}
p
	{
		width:100%;
	}
	h2
{
	font-size:180%;
}
h3
{
 font-size:130%;
}
h3 p {
	font-size:100%;
}
#accueil-mobile p
	{
		font-size:180%;
	}
em
	{
		font-size: 100%;
		color: #0088a9;
		font-style: normal;
	}
.cercles-trait
	{
		display:none;
	}
.slide
	{
		display: none;
	}
.fas.fa-chevron-right{
		display: none;
	}
.fas.fa-chevron-left{
		display: none;
	} 
#texte
	{
    	display:none;
	}
header
	{
		flex-flow:column;
		height:120px;
		font-size: 83%;
	}
.logo
	{
		margin-top:10%;
		margin-left:0%;
	}
header nav li:hover{
		border-top: 0px solid;
	}
	/*fin accueil*/
	/*service*/
#imac
	{
		display: none;
	}
#service{
		flex-flow: row;
		justify-content: space-around;
		margin:4%;
	}
#services-icones
	{
	 	font-size: 130%;
	}
.description-1
	{
		margin:0;
	}
	/*fin service*/
	/*debut portfolio*/
#menu-portfolio
	{
		display: none;
	}
#selection
	{
		margin-right:13%;
	}
	/*fin portfolio*/
 /*contact*/
 #formulaire
 {
	 display:none;
 }
 iframe
 {
	 display: block;
	 position:relative;
 }
#formulaire-2
{
 display: block;
 padding: 15px 15px 15px 15px;
 width: 90%;
 height: 500px;
 text-align: center;
}
 /*fin contact*/
}
/*fin mobile*/
/*tablette*/
	@media all and (min-width: 681px) and (max-width:944px){
		.section-gris
		{
			background-color:rgba(240, 240, 240, 0.7);
		}
		#section-gris-2
{
	background-color:white;
}
		/*header*/
		header
		{
			flex-flow:column;
			height:120px;
		}
		.logo
		{
			margin-top:10%;
			margin-left:0%;
		}
		header nav li:hover{
			border-top: 0px solid;
		}
	 /*accueil*/
		h2
		{
			font-size:180%;
		}
	/*accueil*/
	#accueil-mobile
	{
		display: block;
		margin-top:20%;
		display: flex;
		align-items: center;
		flex-flow: column;
		text-align: center;
	}
	 h1
	{
		font-size: 200%;
	}
	p
	{
		width:100%;
	}
	h2
{
	font-size:180%;
}
	h3
	{
	 font-size:130%;
	}
	h3 p {
		font-size:100%;
	}
	#accueil-mobile p
		{
			font-size:180%;
		}
	em
	{
		font-size: 100%;
		color: #0088a9;
		font-style: normal;
	}
	.slide
	{
		display: none;
	}
	.fas.fa-chevron-right{
		display: none;
	}
	.fas.fa-chevron-left{
		display: none;
	} 
	#texte
{
    display:none;
}
.cercles-trait
	{
		display:none;
	}
 	/*fin accueil*/
	 /*services*/
	 #ordi-2
	 {
		 display:flex;
	  	justify-content:center;}
	 #ordi
	 {
	 	display: none;
	 }
	 #service{
	 	flex-flow: row;
	 	justify-content: center ;
		 margin:0%;
		 background-color: rgba(240, 240, 240, 0.7);
	 }
	 #services-icones
	 {
		 margin-left: 10%;
	 }
	 .point-bleu-icones
{

	background-color:white;
	bottom:53%;
	left: 75%;
	
}
		/*fin services*/
		/*debut portfolio*/
		
	#formulaire
	{
		display:none;
	}
	iframe
	{
		display: block;
		position:relative;
	}

#formulaire-2
{
	display: block;
    padding: 15px 15px 15px 15px;
    width: 90%;
    height: 500px;
	text-align: center;
}
}
/*fin tablette*/
@media all and (min-width: 945px) and (max-width:1116px){
	.section-gris
	{
		background-color:rgba(240, 240, 240, 0.7);
	}
	#section-gris-2
{
	background-color:white;
}
	h2
	{
		font-size:180%;
	}
	/*header*/
	header
	{
		flex-flow:column;
		height:120px;
	}
	.logo
	{
		margin-top:10%;
		margin-left:0%;
	}
	header nav li:hover{
		border-top: 0px solid;
	}
	
/*accueil*/
#accueil-mobile
{
	display: block;
	margin-top:20%;
	display: flex;
	align-items: center;
	flex-flow: column;
	text-align: center;
}
 h1
{
	font-size: 200%;
}
h2
{
	font-size:180%;
}
p
{
	width:100%;
}
h3
{
 font-size:130%;
}
h3 p {
	font-size:100%;
}
#accueil-mobile p
	{
		font-size:180%;
	}
em
{
	font-size: 100%;
	color: #0088a9;
	font-style: normal;
}
.slide
{
	display: none;
}
.fas.fa-chevron-right{
	display: none;
}
.fas.fa-chevron-left{
	display: none;
} 
#texte
{
display:none;
}
.cercles-trait
{
	display:none;
}
 /*fin accueil*/
	/*services*/
	#ordi-2
	{
		display:flex;
		 justify-content:center;}
	#ordi
	{
		display: none;
	}
	#service{
		flex-flow: row;
		justify-content: center ;
		margin:0%;
		background-color: rgba(240, 240, 240, 0.7);
	}
	#services-icones
	{
		margin-left: 10%;
	}
	.point-bleu-icones
{
   background-color:white;
   bottom:53%;
   left: 63%;
   
}
/*fin services*/
/*Contact*/

/*fin contact*/
}
@media all and (min-width: 1117px) and (max-width:1250px) {
	/*header*/
	header
	{
		flex-flow:column;
		height:120px;
	}
	.logo
	{
		margin-top:10%;
		margin-left:0%;
	}
	header nav li:hover{
		border-top: 0px solid;
	}
 /*accueil*/
	h2
	{
		font-size:180%;
	}
/*accueil*/
#accueil-mobile
{
	display: block;
	margin-top:20%;
	display: flex;
	align-items: center;
	flex-flow: column;
	text-align: center;
}
 h1
{
	font-size: 200%;
}
p
{
	width:100%;
}

em
{
	font-size: 100%;
	color: #0088a9;
	font-style: normal;
}
.slide
{
	display: none;
}
.fas.fa-chevron-right{
	display: none;
}
.fas.fa-chevron-left{
	display: none;
} 
#texte
{
display:none;
}
.cercles-trait
{
	display:none;
}
}
 /*fin accueil*/
 @media all and (min-width: 1650px) and (max-width:1770px)
 {
	 .point-bleu-icones
	 {
		 left: 59%;
	 }
	 #service
	 {
		 justify-content: center;
	 }
	 .fas.fa-chevron-right
	 {
		 padding: 20px 20px 20px 10px;
		 margin-left: 97.6%;
		 margin-top: 350px;	
	 }
	 .fas.fa-chevron-left
	 {
		 margin-top: 350px;	}
	#image-fixe img
	 {
		 display: block;
		 opacity: 1;
		 
	 }
	 #image-fixe
	 {
		margin-top:100px;
		margin-left: -100px;
		width: 115%;
		height: auto;
		display: block;
	 }
	 #slider
	 {
		 display: none;
	 }
 }
 @media all and (min-width: 1771px)
 {
	 #formulaire
	 {
		 margin-top:5%;
	 }
	 #image-fixe
	 {
		margin-top:100px;
		display: block;
	 }
	#image-fixe img
	{
		display: block;
		opacity: 1;
		
	}
	 #texte
	 {
		 text-align: center;
		 
	 }
	 #slider
	 {
		 display: none;
	 }
	.fas.fa-chevron-right
	{
		padding: 20px 20px 20px 10px;
		margin-left: 98.8%;
		margin-top: 350px;	
	}
	.fas.fa-chevron-left
	{
		margin-top: 350px;	}
 #service
 {
	 justify-content: center;
 }
 .point-bleu-icones
	 {
		 left: -19%;
		 top: -12%;
	 }
 #portfolio
 {
	 display: flex;
	 justify-content: center;
	 flex-flow:column;	
 }
 #quatre
 {
	 display: flex;
	 flex-flow:row wrap;
	 justify-content: center;
 }
 #huit
 {
	 display:flex;
	 flex-flow: row wrap;
	 justify-content: center;
 }
}
