html
{
	width:100%;
	overflow-y: scroll;
	overflow-x: hidden;
	line-height: 150%;
}
body
{
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	
}
a
{
	cursor: pointer;
}
.fas.fa-circle
{
	color: #39B5CA;
}
section
{
	flex-direction: column;
}

ul
{
	 list-style: none;
}

h2
{
	text-align: center;
	margin: 20px;
	margin-top: 6%;
	margin-bottom:4%;
	font-size: 250%;
}
.cercles-trait
{
	position:relative;
	bottom:900%; 
	left:47%;
	border: 5px solid white;
	background-color: white;
	font-size: 100%;
	border-radius: 50%;
	border: 5px solid white;

}
.trait
{
	background-color: rgb(230, 230, 230);
	height: 1pt;
	width: 15%;
	margin-bottom: 1.5%;
	align-self:center;
	margin-left: auto;
	margin-right: auto;
}
.phrase
{
	display: flex;
	justify-content: center;
}

/*debut header*/
header
{
	display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100px;
    background-color: white;
    opacity: 0.92;
    z-index: 9999;
}
.logo{
    margin-left: 15%;
    cursor: pointer;
}

/*menu hamburger*/


/*fin menu hamburger*/
header nav ul{
    padding-left: 0;
}

header nav li{
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
}

header nav a {
    text-decoration: none;
    color: grey;
}

header nav li:hover{
    border-top: 2px solid #0088a9;
    padding-top: 39px;
}

header nav a:hover{
    color: black ;
}
/*header fin*/

/*images slider*/
#page-accueil
{
	width: 100%;
	overflow: hidden;
	margin-bottom: 6%;
}
#slider
{
	margin-top: 100px;
	width: 100%;
	height: auto;
	position: relative;
	width: calc(1600px*2);
	animation: glisse 10s infinite;
}
.slide
{
	float:left;
}
@keyframes glisse 
{
	0% {
			transform: translateX(0);
	}
	40% {
			transform: translateX(0);
	}
	50% {
			transform: translateX(-50%);
	}
	90% {
			transform: translateX(-50%);
	}
	100% {
			transform: translateX(0);
	}
}

.fas.fa-chevron-right
{
	position:absolute;
	background-color: rgba( 0 , 0 , 0 , 0.3);
	color: white;
	padding: 20px 20px 20px 10px;
	border-radius: 50% 0 0 50%;
	margin-left: 97.3%;
	margin-top: 23%;
	z-index: 99;
	
}
.fas.fa-chevron-left
{
	position:absolute;
	background-color: rgba( 0 , 0 , 0 , 0.3);
	color: white;
	padding: 20px 20px 20px 10px;
	border-radius: 0 50% 50% 0;
	margin-right: 0px;
	margin-top: 23%;
	z-index: 99;
}
/*fin slider*/

/*texte sur slider*/
#texte
{
    width: 90%;
    position: absolute;
    top: 325px;
    left: 50px;
    color: white;
}
#texte strong
{
	color:#39B5CA;
}
#texte strong:hover
{
	color:#0088a9; 
}
#texte a
{
    text-decoration: none;
    color: white;
    background-color: #39B5CA;
    padding: 10px 10px 10px 10px;
    border-radius: 6px;
    box-shadow: 0px 3px #0088a9;
}
#texte a:hover
{
	background-color: #0088a9;
}
#bouton
{
	box-shadow: 0px 5px 5px black;
}
/*fin texte sur slider*/
#accueil-mobile
{
	display:none;
}
/*debut services */
#service
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	margin-bottom: 10%;
	
}
#ordi-2
{
	display: none;
}
#ordi
{
	margin-left: 10%;
	margin-top: 1%;

}
#description
{
	margin-right:10%;
	margin-left: 12%;
	margin-top:1%;
}

#services-icones
{
	margin-top:1.5%;
	display: flex;
	justify-content: space-around;
	flex-flow: column;
	font-size: 210%;
	margin-right: -10%;
}

.point-bleu-icones
{

	background-color:white;
	color: #39B5CA;
	font-size: 40%;
	border-radius: 50%;
	border: 4px solid white;
	position: relative;
	bottom:55%;
	left: 76%;
	
}

.fas.fa-chart-line
{
	
	color:#39B5CA;
	border: 1px solid grey;
	padding: 12px;
	border-radius: 50%;

}

.fa.fa-cubes
{
	color:#39B5CA;
	border: 1px solid grey;
	padding: 12px;
	border-radius: 50%;

}
.fas.fa-chart-pie
{
	color:#39B5CA;
	border: 1px solid grey;
	padding: 12px;
	border-radius: 50%;
}
/*fin services */
/*début portfolio*/
/*menu*/
.fleche-basse.activeli{
	opacity: 100;
}

#selection div:hover .fleche-basse {
	opacity: 100;
}
.fas.fa-caret-down
{
	
	color: #0088a9;

}


#selection
{	
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-right: 2.5%;
	margin-bottom: 3%;

}

#selection li
{
	padding: 7px;
	background-color: rgb(230, 230, 230);
	border-bottom: 1px solid rgb(118, 121, 126);
}
#selection li:hover
{
	background-color: #0088a9;

}
#start1
{
	border-bottom-left-radius:10%;
	border-top-left-radius:10%;
	background-color: #0088a9;
	border-bottom: 3px solid rgb(70, 140, 170);
	white-space: nowrap;
}
#end1
{
	border-bottom-right-radius:10%;
	border-top-right-radius:10%;
}
.fleche-basse
{
	color: #0088a9;
    position: relative;
    font-size: 30px;
    right: -30px;
    top:-12px;
    opacity:0;
}

#selection a{
    text-decoration: none;
    color: rgb(118, 121, 126);

}

#selection li:hover a{
	color: white;
	
}
    /*  #menu-portfolio li:hover #fleche-basse
     {
	visibility: visible;
    }*/
#menu-portfolio li:hover{
    background-color: rgb(75, 175, 215);
    border-bottom: 3px solid rgb(70, 140, 170);
}

/*fin menu*/
#portfolio
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
	
}

figure{
    height: 200px;
    position: relative;
}

figure img{
    width: 280px;
}
figcaption  p
{
	font-size: 15px;
}
figcaption{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    position: absolute;
    bottom: 13px;
    visibility: hidden;
	width: 280px;
	height: 35%;
	line-height: 50%;
}

figcaption h3, figcaption p{
    margin-left: 15px;
    
}

figure:hover figcaption{
    visibility: visible;
}
.eye{   /* oeil sur le figcaption*/
    height: 30px;
    width: 30px;
    background-color: rgb(75, 175, 215);
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: 10px;
}

.fa.fa-eye{
    position: relative;
    top: 7.5px;
    left: 6px;
}
/*fin portfolio*/

/*début maps*/
#formulaire-2
{
	display: none;
}
#formulaire{
    background-color: rgba(240, 240, 240, 0.7);
    padding: 15px 15px 15px 15px;
    width: 270px;
    height: 500px;
    position: absolute;
    margin-left:  70%;
    margin-top: 10%;

}

input[type="submit"]{
    background-color: #39B5CA;
    color: white;
    border-radius: 3px;
    padding: 5px;
    margin-left: 10px;
}

input[type="text"]{
    width: 250px;
}

input[type="email"]{
    width: 250px;
}

textarea{
    width: 250px;
}

iframe
{
	width: 100%;
	height: 800px;
	opacity: 0.7;
	position:relative;
}	

#bas
{
	width: 100%;
	height: 800px;
	display: flex;
	background-color: #39B5CA;
	opacity: 1;
	margin-top:3%;
}
/*fin maps*/
/*MEDIA QUERIES*/
/*mobile*/
	@media all and (max-width: 680px) {
		.section-gris
		{
			background-color:rgba(240, 240, 240, 0.7);
		}
		h2
		{
			font-size:180%;
		}
	/*accueil*/
	#accueil-mobile
	{
		display: block;
		margin-top:40%;
		display: flex;
		align-items: center;
		flex-flow: column;
		text-align: center;
	}
	 h1
	{
		font-size: 200%;
	}
	p
	{
		width:100%;
	}
	#accueil-mobile p
	{
		font-size:80%;
		
	}
	em
	{
		font-size: 100%;
		color: #0088a9;
		font-style: normal;
	}
	.cercles-trait
	{
		display:none;
	}
	.slide
	{
		display: none;
	}
	.fas.fa-chevron-right{
		display: none;
	}
	.fas.fa-chevron-left{
		display: none;
	} 
	#texte
	{
    	display:none;
	}
	header
	{
		flex-flow:column;
		height:120px;
		font-size: 83%;
	}
	.logo
	{
		margin-top:10%;
		margin-left:0%;
	}
	header nav li:hover{
		border-top: 0px solid;
	}
	/*fin accueil*/
	/*service*/
	#ordi
	{
		display: none;
	}
	#service{
		flex-flow: row;
		justify-content: space-around;
		margin:4%;
	}
	#services-icones
	{
	 	font-size: 130%;
	}
	#description
	{
	
	}
	.description-1
	{
		margin:0;
	}
	/*fin service*/
	/*debut portfolio*/
	#menu-portfolio
	{
		display: none;
	}
	#selection
	{
		margin-right:13%;
	}
	/*fin portfolio*/

 /*contact*/
 #formulaire
 {
	 display:none;
 }
 iframe
 {
	 display: block;
	 position:relative;
 }

#formulaire-2
{
 display: block;
 padding: 15px 15px 15px 15px;
 width: 90%;
 height: 500px;
 text-align: center;
}
 /*fin contact*/
}
/*fin mobile*/

/*tablette*/
	@media all and (min-width: 681px) and (max-width:944px){
		.section-gris
		{
			background-color:rgba(240, 240, 240, 0.7);
		}
		/*header*/
		header
		{
			flex-flow:column;
			height:120px;
		}
		.logo
		{
			margin-top:10%;
			margin-left:0%;
		}
		header nav li:hover{
			border-top: 0px solid;
		}
	 /*accueil*/
		h2
		{
			font-size:180%;
		}
	/*accueil*/
	#accueil-mobile
	{
		display: block;
		margin-top:20%;
		display: flex;
		align-items: center;
		flex-flow: column;
		text-align: center;
	}
	 h1
	{
		font-size: 200%;
	}
	p
	{
		width:100%;
	}
	#accueil-mobile p
	{
		font-size:80%;
		
	}
	em
	{
		font-size: 100%;
		color: #0088a9;
		font-style: normal;
	}
	.slide
	{
		display: none;
	}
	.fas.fa-chevron-right{
		display: none;
	}
	.fas.fa-chevron-left{
		display: none;
	} 
	#texte
{
    display:none;
}
.cercles-trait
	{
		display:none;
	}
 	/*fin accueil*/
	 /*services*/
	 #ordi-2
	 {
		 display:flex;
	  	justify-content:center;}
	 #ordi
	 {
	 	display: none;
	 }
	 #service{
	 	flex-flow: row;
	 	justify-content: center ;
		 margin:0%;
		 background-color: rgba(240, 240, 240, 0.7);
	 }
	 #services-icones
	 {
		 margin-left: 10%;
	 }
	 .point-bleu-icones
{

	background-color:white;
	bottom:53%;
	left: 75%;
	
}
		/*fin services*/
		/*debut portfolio*/
		
	#formulaire
	{
		display:none;
	}
	iframe
	{
		display: block;
		position:relative;
	}

#formulaire-2
{
	display: block;
    padding: 15px 15px 15px 15px;
    width: 90%;
    height: 500px;
	text-align: center;
}
}
/*fin tablette*/
@media all and (min-width: 945px) and (max-width:1116px){
	.section-gris
	{
		background-color:rgba(240, 240, 240, 0.7);
	}
	h2
	{
		font-size:180%;
	}
	/*header*/
	header
	{
		flex-flow:column;
		height:120px;
	}
	.logo
	{
		margin-top:10%;
		margin-left:0%;
	}
	header nav li:hover{
		border-top: 0px solid;
	}
	
/*accueil*/
#accueil-mobile
{
	display: block;
	margin-top:20%;
	display: flex;
	align-items: center;
	flex-flow: column;
	text-align: center;
}
 h1
{
	font-size: 200%;
}
p
{
	width:100%;
}
#accueil-mobile p
{
	font-size:80%;
	
}
em
{
	font-size: 100%;
	color: #0088a9;
	font-style: normal;
}
.slide
{
	display: none;
}
.fas.fa-chevron-right{
	display: none;
}
.fas.fa-chevron-left{
	display: none;
} 
#texte
{
display:none;
}
.cercles-trait
{
	display:none;
}
 /*fin accueil*/
	/*services*/
	#ordi-2
	{
		display:flex;
		 justify-content:center;}
	#ordi
	{
		display: none;
	}
	#service{
		flex-flow: row;
		justify-content: center ;
		margin:0%;
		background-color: rgba(240, 240, 240, 0.7);
	}
	#services-icones
	{
		margin-left: 10%;
	}
	.point-bleu-icones
{
   background-color:white;
   bottom:53%;
   left: 63%;
   
}
/*fin services*/
/*Contact*/

/*fin contact*/
}
@media all and (min-width: 1117px) and (max-width:1250px) {
	/*header*/
	header
	{
		flex-flow:column;
		height:120px;
	}
	.logo
	{
		margin-top:10%;
		margin-left:0%;
	}
	header nav li:hover{
		border-top: 0px solid;
	}
 /*accueil*/
	h2
	{
		font-size:180%;
	}
/*accueil*/
#accueil-mobile
{
	display: block;
	margin-top:20%;
	display: flex;
	align-items: center;
	flex-flow: column;
	text-align: center;
}
 h1
{
	font-size: 200%;
}
p
{
	width:100%;
}
#accueil-mobile p
{
	font-size:80%;
	
}
em
{
	font-size: 100%;
	color: #0088a9;
	font-style: normal;
}
.slide
{
	display: none;
}
.fas.fa-chevron-right{
	display: none;
}
.fas.fa-chevron-left{
	display: none;
} 
#texte
{
display:none;
}
.cercles-trait
{
	display:none;
}
}
 /*fin accueil*/